# local development environment
.toml-test
.haxelib
.haxe
.neko

# test builds and components
*.n

# root build files.
/*.hxml

# older versions of the source, stuff that isn't part of this project
*.old*

